.about {
  background: url(../img/about-bg.jpg) center top no-repeat;
}

.about-info-block {
  width: 890px;
  -webkit-box-shadow: 0 0 60.9px 9.1px rgba(130, 130, 130, 0.15);
          box-shadow: 0 0 60.9px 9.1px rgba(130, 130, 130, 0.15);
  background-color: #ffffff;
  padding: 40px 0 30px;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: relative;
}

.about-info-block::before {
  content: "";
  width: 224px;
  height: 245px;
  display: block;
  position: absolute;
  top: 15px;
  left: -124px;
  background: url(../img/about-info.png) left top no-repeat;
}

.about-info-block div {
  padding: 0 40px;
  position: relative;
}

.about-info-block div + div::before {
  content: "";
  width: 1px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  background: #c7d6df;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(199, 214, 223, 0)), color-stop(50%, #c7d6df), to(rgba(199, 214, 223, 0)));
  background: linear-gradient(180deg, rgba(199, 214, 223, 0) 0%, #c7d6df 50%, rgba(199, 214, 223, 0) 100%);
}

.about-info__text {
  font-family: Circe;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: 0.66px;
  text-align: left;
  color: #456689;
  margin-top: 20px;
  display: block;
}

.about-info__text.about-info__text-left {
  color: #728796;
  padding-left: 30px;
}

.about-info-button {
  margin-left: 30px;
}

.about-info-title {
  color: #456689;
}

.about-bonus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 85px;
}

.about-bonus-title {
  font-family: ChristmasOnCrack;
  font-size: 77px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 4.24px;
  color: #456689;
}

.about-bonus-subtitle {
  max-width: 850px;
  font-family: ChristmasOnCrack;
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: 1.76px;
  text-align: center;
  color: #456689;
}

.about-step {
  padding-top: 100px;
  height: 1120px;
}

.about-step .main-step-row + .main-step-row {
  margin-top: 60px;
}
/*# sourceMappingURL=about.css.map */