.header-main__title-small {
  font-size: 87px;
  margin-bottom: 0;
  line-height: 60px;

  span {
    color: #df303c;
  }
}

.text-center {
  text-align: center;
}

.account-balance {
  font-family: ChristmasOnCrack;
  font-size: 67px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 3.69px;
  text-align: center;
  color: #ec0000;
  margin: 30px 0 0;

  span {
    font-size: 37px;
    letter-spacing: 2.04px;
  }
}

.account-title {
  font-family: ChristmasOnCrack;
  font-size: 43px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 2.37px;
  text-align: left;
  color: #ec0000;
  margin: 9px 0 0;

  &.account-title-center {
    text-align: center;
  }
}

.account-wallets__balance {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 70px;
  margin-bottom: 60px;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 15px;
  }
}

.account-wallets__balance-item {
  box-shadow: 0 0 60.9px 9.1px rgba(130, 130, 130, 0.15);
  background-color: #ffffff;
  border-radius: 20px;
  padding: 25px 5px 10px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;

  img {
    margin-top: 15px;
  }
}

.balance-item__deposit {
  font-family: ChristmasOnCrack;
  font-size: 44px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.86;
  letter-spacing: 2.42px;
  text-align: left;
  color: #456689;
  margin: 0;
  padding-left: 23px;

  &.balance-item__deposit-red {
    color: #ec0000;
  }

  span {
    font-size: 21px;
    letter-spacing: 1.16px;
  }
}

.balance-item__subtitle {
  font-family: Circe;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.77px;
  text-align: left;
  color: #82909f;
  display: block;
  margin-bottom: 25px;
  padding-left: 23px;
}

.balance-item__line {
  width: 100%;
  height: 1px;
  display: block;
  opacity: 0.2;
  background-color: #456689;
}

.account-flex {
  display: flex;

  &.account-flex-center {
    justify-content: center;
    align-items: center;
  }
}

.account-buttons {
  margin-top: 40px;
}

.account-ref-copy {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 50px;

  div {
    font-family: Circe;
    font-size: 21px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.81;
    letter-spacing: 1.16px;
    text-align: left;
    color: #6b7682;
    padding: 0 30px;
    width: 100%;
    height: 64px;
    box-sizing: border-box;
    border: none;
    border-radius: 50px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    width: 774px;

    img{
      margin-right: 20px;
      margin-top: -4px;
    }
  }

  .button{
    margin-left: 55px;
    cursor: pointer;
  }
}
