.header-main__title-small {
  font-size: 87px;
  margin-bottom: 0;
  line-height: 60px;
}

.header-main__title-small span {
  color: #df303c;
}

.text-center {
  text-align: center;
}

.account-balance {
  font-family: ChristmasOnCrack;
  font-size: 67px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 3.69px;
  text-align: center;
  color: #ec0000;
  margin: 30px 0 0;
}

.account-balance span {
  font-size: 37px;
  letter-spacing: 2.04px;
}

.account-title {
  font-family: ChristmasOnCrack;
  font-size: 43px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 2.37px;
  text-align: left;
  color: #ec0000;
  margin: 9px 0 0;
}

.account-title.account-title-center {
  text-align: center;
}

.account-wallets__balance {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin-top: 70px;
  margin-bottom: 60px;
}

.account-wallets__balance > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.account-wallets__balance-item {
  -webkit-box-shadow: 0 0 60.9px 9.1px rgba(130, 130, 130, 0.15);
          box-shadow: 0 0 60.9px 9.1px rgba(130, 130, 130, 0.15);
  background-color: #ffffff;
  border-radius: 20px;
  padding: 25px 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  text-align: center;
}

.account-wallets__balance-item img {
  margin-top: 15px;
}

.balance-item__deposit {
  font-family: ChristmasOnCrack;
  font-size: 44px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.86;
  letter-spacing: 2.42px;
  text-align: left;
  color: #456689;
  margin: 0;
  padding-left: 23px;
}

.balance-item__deposit.balance-item__deposit-red {
  color: #ec0000;
}

.balance-item__deposit span {
  font-size: 21px;
  letter-spacing: 1.16px;
}

.balance-item__subtitle {
  font-family: Circe;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.77px;
  text-align: left;
  color: #82909f;
  display: block;
  margin-bottom: 25px;
  padding-left: 23px;
}

.balance-item__line {
  width: 100%;
  height: 1px;
  display: block;
  opacity: 0.2;
  background-color: #456689;
}

.account-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.account-flex.account-flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account-buttons {
  margin-top: 40px;
}

.account-ref-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.account-ref-copy div {
  font-family: Circe;
  font-size: 21px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.81;
  letter-spacing: 1.16px;
  text-align: left;
  color: #6b7682;
  padding: 0 30px;
  width: 100%;
  height: 64px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 50px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 774px;
}

.account-ref-copy div img {
  margin-right: 20px;
  margin-top: -4px;
}

.account-ref-copy .button {
  margin-left: 55px;
  cursor: pointer;
}
/*# sourceMappingURL=account.css.map */