.faq-question + .faq-question {
  margin-top: 50px;
}

.faq-title {
  font-family: Circe;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: 1.38px;
  text-align: left;
  color: #456689;
  display: block;
  width: 100%;
  margin-bottom: 25px;
}

.faq-text {
  font-family: Circe;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.89;
  letter-spacing: 0.99px;
  text-align: left;
  color: #96a1a9;
  display: block;
  position: relative;
  padding-left: 25px;
}

.faq-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  border-radius: 20px;
  height: 9px;
  width: 9px;
  background-color: #d72424;
}

.faq-text + .faq-text {
  margin-top: 15px;
}
/*# sourceMappingURL=faq.css.map */