@import "fonts";
@import "about";
@import "support";
@import "login";
@import "faq";
@import "invest";
@import "account";

body,
html {
  margin: 0;
  padding: 0;
}

template {
  display: none !important;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  min-width: 1100px;
  box-sizing: border-box;
}

.main {
  background: url(../img/main-bg.jpg) center top no-repeat;
}

.content {
  max-width: 1100px;
  width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  padding-top: 35px;
  height: 1250px;
}

.header-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header-top__info {
  display: flex;
  align-self: flex-end;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li {
    display: inline-flex;
  }
}
.header-info__date {
  font-family: Circe;
  font-size: 14px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.71;
  letter-spacing: 0.49px;
  text-align: left;
  color: #ffffff;
}

.header-info__users {
  font-family: "Circe";
  font-size: 14px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.71;
  letter-spacing: 0.49px;
  text-align: left;
  color: #ffffff;
  margin: 0 47px 0 58px;
}

.button {
  font-family: Circe;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.24;
  letter-spacing: 0.94px;
  text-align: left;
  color: #ffffff;
  background-image: linear-gradient(to top, #d82424, #b10e0e);
  display: flex;
  padding: 0 47px;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  text-decoration: none;

  &:hover {
    box-shadow: 0 0 60.9px 9.1px rgba(251, 17, 17, 0.31);
    background-image: linear-gradient(to top, #d82424, #b10e0e);
  }

  &.button-small {
    width: 170px;
    box-sizing: border-box;
    padding: 0;
  }

  &.button-green {
    background-image: linear-gradient(to top, #6ba924, #467819);
    &:hover {
      box-shadow: 0 0 60.9px 9.1px rgba(94, 161, 32, 0.31);
    }
  }

  & + .button {
    margin-left: 40px;
  }
}

nav {
  margin: 35px auto;
  width: 903px;
  display: grid;
  grid-template-columns: repeat(6, auto);
  border-radius: 30px;
  background-color: #ffffff;
  position: relative;
  padding: 6px 47px;
  height: 59px;
  box-sizing: border-box;

  &::after {
    content: "";
    height: 67px;
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
    background: url(../img/menu-bg.png) center top no-repeat;
    width: 100%;
    max-width: 869px;
    z-index: 1;
  }

  a {
    font-family: Circe;
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.24;
    letter-spacing: 0.94px;
    color: #071e35;
    text-decoration: none;
    // padding: 0 33px;
    text-align: center;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;

    & + a {
      border-left: 1px solid #e0e3e6;
    }
  }
}

.header-main__title {
  display: flex;
  justify-content: center;
  margin-top: 158px;
  width: 100%;
  font-family: ChristmasOnCrack;
  font-size: 147px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 87px;
  letter-spacing: 5.15px;
  text-align: left;
  color: #ffffff;
}

.header-main__subtitle {
  width: 686px;
  height: 77px;
  margin: 8px auto 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.12368697478991597) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-family: ChristmasOnCrack;
    font-size: 57px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 2px;
    text-align: left;
    color: #ffffff;

    span {
      color: #f31c1c;
    }

    &.header-main__subtitle-small {
      font-size: 48px;
    }
  }
}

.main-step {
  padding-top: 150px;
  height: 1450px;
}

.main-step-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  & + .main-step-row {
    margin-top: 100px;
  }
}

.main-step-column {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 435px;
}

.main-step-step {
  display: flex;
  height: 129px;
  justify-content: center;
  align-items: center;
  background: url(../img/snow-main-step.png) center center no-repeat;

  span {
    font-family: ChristmasOnCrack;
    font-size: 77px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 4.24px;
    color: #456689;
  }

  img {
    position: absolute;
    left: -22px;
    top: 50%;
    transform: translateY(-50%);
  }

  div {
    display: flex;
    justify-content: center;
    width: 142px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: calc(100% + 9px);
      top: 50%;
      transform: translateY(-50%);
      width: 202px;
      height: 1px;
      background: rgb(191, 205, 220);
      background: linear-gradient(
        90deg,
        rgba(191, 205, 220, 0.1) 0%,
        rgba(191, 205, 220, 1) 50%,
        rgba(191, 205, 220, 0.1) 100%
      );
    }
  }

  &.main-step-step-right {
    div {
      &::after {
        left: auto;
        right: calc(100% + 9px);
      }
    }

    img {
      position: absolute;
      right: -22px;
      left: auto;
    }
  }
}

.main-step-title {
  font-family: ChristmasOnCrack;
  font-size: 57px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 3.14px;
  text-align: left;
  color: #456689;
  margin-top: 28px;

  &.main-step-title-right {
    max-width: 390px;
    margin-left: auto;
    width: 100%;
  }
}

.main-step-text {
  font-family: Circe;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.77px;
  text-align: left;
  color: #092744;
  margin-top: 20px;
  display: block;

  &.main-step-text-right {
    max-width: 390px;
    margin-left: auto;
    width: 100%;
  }
}

.m-center {
  margin-left: auto;
  margin-right: auto;
}

.main-step-gnome {
  position: relative;
  z-index: 3;
}

.main-countdown {
  height: 98px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 19px;
  background-color: #ffffff;
  border-radius: 35px;
  position: relative;
  z-index: 2;
  font-family: ChristmasOnCrack;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 16px;
  text-align: left;
  color: #d82424;
  font-size: 57px;
  letter-spacing: 3.14px;
  margin-top: -38px;

  p {
    margin: 0;

    & + p {
      margin-left: 15px;
    }
  }

  span {
    font-size: 27px;
    letter-spacing: 1.49px;
  }

  & + .main-step-text {
    max-width: 400px;
  }
}

.text-center {
  text-align: center;
}

.main-step-button {
  max-width: 160px;
  margin-top: 40px;
  width: 100%;
  padding: 0;
}

.main-step-list {
  box-sizing: border-box;
  margin-top: 45px;
  width: 306px;
  box-shadow: 0 0 60.9px 9.1px rgba(130, 130, 130, 0.15);
  background-color: #ffffff;
  border-radius: 15px;
  margin-left: auto;
  position: relative;
  padding: 30px 42px 30px 30px;

  &::before {
    content: "";
    position: absolute;
    top: -45px;
    right: 100%;
    display: block;
    width: 160px;
    height: 209px;
    background: url(../img/deer-main-step.png) left top no-repeat;
  }
}

.main-step__list-title {
  font-family: ChristmasOnCrack;
  font-size: 37px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.03;
  letter-spacing: 2.04px;
  text-align: left;
  color: #d72424;
}

.main-step__list-list {
  display: flex;
  flex-direction: column;
  padding-left: 0;

  li {
    display: inline-flex;
    padding-left: 25px;
    position: relative;
    font-family: Circe;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.66px;
    text-align: left;
    color: #96a1a9;

    & + li {
      margin-top: 30px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 10px;
      border-radius: 20px;
      height: 9px;
      width: 9px;
      background-color: #d72424;
    }
  }
}

.main-depo {
  padding-top: 70px;
  position: relative;
}

.main-depo-stat {
  padding-left: 255px;

  p {
    font-family: ChristmasOnCrack;
    font-size: 44px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 25px;
    letter-spacing: 1.54px;
    text-align: left;
    color: #9dbad7;
    margin: 0;
  }
  span {
    font-family: Circe;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.53px;
    text-align: left;
    color: #91a9c3;
  }
}

.main-depo-title {
  font-family: ChristmasOnCrack;
  font-size: 77px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 4.24px;
  text-align: left;
  color: #456689;
  margin: 300px 0 0;
  max-width: 430px;
  position: relative;
  z-index: 3;

  span {
    color: #f31c1c;
  }
}

.main-depo-text {
  max-width: 430px;
  position: relative;
  z-index: 3;
}

.main-depo-plan__expand {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 30px;
  width: 184px;
  padding-left: 0;
  padding: 6px 0;
  transition: 0.3s;

  li {
    display: none;
    font-family: Circe;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: 0.72px;
    color: #567da3;
    padding: 0 13px;

    &:first-child {
      display: inline-flex;
      justify-content: center;
    }
  }
}

.main-depo-plan {
  position: absolute;
  z-index: 2;
  text-decoration: none;
  display: flex;
  width: 230px;
  flex-direction: column;
  pointer-events: none;

  span {
    font-family: ChristmasOnCrack;
    font-size: 43px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 2.37px;
    text-align: left;
    color: #9cbdde;
  }

  &.active {
    pointer-events: initial;

    span {
      color: #456689;
    }

    .main-depo-plan__expand {
      li {
        opacity: 0.7;
      }
    }

    &:hover {
      .main-depo-plan__expand {
        border-radius: 10px;
        width: 100%;

        li {
          display: inline-flex;
        }
      }
    }
  }
}

.main-depo-plan__1 {
  top: 250px;
  left: 160px;
}

.main-depo-plan__2 {
  top: 250px;
  left: 800px;
}

.main-depo-plan__3 {
  top: 670px;
  left: 856px;
}

.main-depo-button {
  max-width: 160px;
  margin-top: 50px;
  width: 100%;
  padding: 0;
}

.main-depo-line {
  width: 100%;
  height: 1px;
  background-color: #ccdef0;
  margin: 120px 0 85px;
  display: block;
}

.main-step-title {
  font-family: ChristmasOnCrack;
  font-size: 47px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.81;
  letter-spacing: 2.59px;
  text-align: left;
  color: #456689;
}

.main-step-progress {
  margin-top: 20px;
  width: 580px;
  height: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  background-color: #dcecfc;
  flex-shrink: 0;
  margin-right: 70px;
}

.main-step-progress__fill {
  display: block;
  height: 40px;
  background-color: #f6fbff;
}

.main-step-flex {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.step-progress-info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;

  p {
    font-family: ChristmasOnCrack;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.03;
    text-align: left;
    color: #456689;
    font-size: 57px;
    letter-spacing: 3.14px;
    margin: 0;

    &.step-progress-red {
      color: #f31c1c;
    }
  }

  span {
    font-size: 37px;
    letter-spacing: 2.04px;
  }
}

.main-prrogress-text {
  max-width: 396px;
  font-family: Circe;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.77px;
  text-align: left;
  color: rgba(9, 39, 68, 0.47);
  display: block;
  margin-top: 30px;
}

.main-bonus {
  padding-top: 320px;
  height: 1200px;
  box-sizing: border-box;
}

.main-bonus__title-big {
  font-family: ChristmasOnCrack;
  font-size: 77px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.49;
  letter-spacing: 4.24px;
  text-align: center;
  color: #456689;
  display: block;
}

.main-bonus-subtitle {
  font-family: ChristmasOnCrack;
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: 1.76px;
  text-align: center;
  color: #456689;
  max-width: 850px;
  display: block;
  margin: 12px auto 0;
}

.main-bonus-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 90px;
}

.main-bonus__title {
  font-family: ChristmasOnCrack;
  font-size: 47px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 2.59px;
  text-align: left;
  color: #456689;
  display: block;
  margin-top: 46px;

  &.main-bonus__title-gray {
    color: #adbdca;
    text-align: center;
    margin-top: 145px;
  }
}

.main-bonus__text {
  max-width: 326px;
  font-family: Circe;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.77px;
  text-align: left;
  color: #092744;
  display: block;
  margin-top: 14px;

  &.main-bonus__text-gray {
    color: #9aadbc;
    text-align: center;
  }
}

.main-bonus-perc {
  font-family: ChristmasOnCrack;
  font-size: 157px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 60px;
  letter-spacing: 8.64px;
  text-align: center;
  color: #d72437;
  margin: 50px 0 0;

  span {
    font-size: 77px;
    letter-spacing: 4.24px;
  }
}

.footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-content: space-between;
  height: 500px;
}

.footer-paysys {
  ul {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 0;
    width: 660px;
    align-items: center;
    justify-content: space-between;
    margin: 23px auto 0;
  }

  li {
    display: inline-flex;
  }
}

.footer-paysys-payeer {
  margin-top: -7px;
}

.footer-paysys-title {
  font-family: ChristmasOnCrack;
  font-size: 34px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.12;
  letter-spacing: 1.87px;
  text-align: center;
  color: #698da5;
  display: block;
}

.footer-paysys-line {
  height: 1px;
  display: block;
  width: 660px;
  margin: 22px auto 0;
  background: rgb(199, 214, 223);
  background: linear-gradient(
    90deg,
    rgba(199, 214, 223, 0) 0%,
    rgba(199, 214, 223, 1) 50%,
    rgba(199, 214, 223, 0) 100%
  );
}

.footer-bottom {
  margin-top: auto;
}

.footer-bottom-protection {
  display: flex;
  padding-left: 0;
  margin: 0;

  li {
    display: inline-flex;

    & + li {
      margin-left: 25px;
    }
  }
}

.footer-bottom-copyright {
  display: flex;
  padding-left: 0;
  font-family: Circe;
  font-size: 14px;
  font-weight: 500;
  color: #456689;
  font-size: 18px;
  margin: 32px 0 25px;

  a {
    color: #456689;
    text-decoration: none;
  }

  li {
    display: inline-flex;

    & + li {
      margin-left: 25px;
    }
  }
}
