@font-face {
  font-family: 'ChristmasOnCrack';
  src: url("../font/ChristmasOnCrack.eot");
  src: url("../font/ChristmasOnCrack.eot?#iefix") format("embedded-opentype"), url("../font/ChristmasOnCrack.woff2") format("woff2"), url("../font/ChristmasOnCrack.woff") format("woff"), url("../font/ChristmasOnCrack.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("../font/Circe-Regular.eot");
  src: local("Circe"), local("Circe-Regular"), url("../font/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Circe-Regular.woff") format("woff"), url("../font/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("../font/Circe-ExtraLight.eot");
  src: local("Circe ExtraLight"), local("Circe-ExtraLight"), url("../font/Circe-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../font/Circe-ExtraLight.woff") format("woff"), url("../font/Circe-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("../font/Circe-Thin.eot");
  src: local("Circe Thin"), local("Circe-Thin"), url("../font/Circe-Thin.eot?#iefix") format("embedded-opentype"), url("../font/Circe-Thin.woff") format("woff"), url("../font/Circe-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("../font/Circe-Light.eot");
  src: local("Circe Light"), local("Circe-Light"), url("../font/Circe-Light.eot?#iefix") format("embedded-opentype"), url("../font/Circe-Light.woff") format("woff"), url("../font/Circe-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("../font/Circe-Bold.eot");
  src: local("Circe Bold"), local("Circe-Bold"), url("../font/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Circe-Bold.woff") format("woff"), url("../font/Circe-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("../font/Circe-ExtraBold.eot");
  src: local("Circe ExtraBold"), local("Circe-ExtraBold"), url("../font/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../font/Circe-ExtraBold.woff") format("woff"), url("../font/Circe-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

.about {
  background: url(../img/about-bg.jpg) center top no-repeat;
}

.about-info-block {
  width: 890px;
  -webkit-box-shadow: 0 0 60.9px 9.1px rgba(130, 130, 130, 0.15);
          box-shadow: 0 0 60.9px 9.1px rgba(130, 130, 130, 0.15);
  background-color: #ffffff;
  padding: 40px 0 30px;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: relative;
}

.about-info-block::before {
  content: "";
  width: 224px;
  height: 245px;
  display: block;
  position: absolute;
  top: 15px;
  left: -124px;
  background: url(../img/about-info.png) left top no-repeat;
}

.about-info-block div {
  padding: 0 40px;
  position: relative;
}

.about-info-block div + div::before {
  content: "";
  width: 1px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  background: #c7d6df;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(199, 214, 223, 0)), color-stop(50%, #c7d6df), to(rgba(199, 214, 223, 0)));
  background: linear-gradient(180deg, rgba(199, 214, 223, 0) 0%, #c7d6df 50%, rgba(199, 214, 223, 0) 100%);
}

.about-info__text {
  font-family: Circe;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: 0.66px;
  text-align: left;
  color: #456689;
  margin-top: 20px;
  display: block;
}

.about-info__text.about-info__text-left {
  color: #728796;
  padding-left: 30px;
}

.about-info-button {
  margin-left: 30px;
}

.about-info-title {
  color: #456689;
}

.about-bonus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 85px;
}

.about-bonus-title {
  font-family: ChristmasOnCrack;
  font-size: 77px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 4.24px;
  color: #456689;
}

.about-bonus-subtitle {
  max-width: 850px;
  font-family: ChristmasOnCrack;
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: 1.76px;
  text-align: center;
  color: #456689;
}

.about-step {
  padding-top: 100px;
  height: 1120px;
}

.about-step .main-step-row + .main-step-row {
  margin-top: 60px;
}

.support-top-title {
  margin-top: 0;
}

header.support-header {
  height: 1150px;
}

.support-white {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.support-white::before {
  content: "";
  position: absolute;
  top: -78px;
  right: 137px;
  display: block;
  width: 172px;
  height: 96px;
  background: url(../img/faq-snowman.png) center center no-repeat;
  z-index: 2;
}

.support-white-block {
  width: 996px;
  -webkit-box-shadow: 0 0 60.9px 9.1px rgba(130, 130, 130, 0.15);
          box-shadow: 0 0 60.9px 9.1px rgba(130, 130, 130, 0.15);
  background-color: #ffffff;
  margin: 128px auto 0;
  padding: 60px 52px 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 3;
  border-radius: 15px;
}

.support-white-block form {
  width: 457px;
  margin: 45px auto 0;
}

.support-white-block form .button {
  border-width: 0;
  border: 0;
  margin: 55px auto 0;
}

.support-title {
  font-family: ChristmasOnCrack;
  font-size: 57px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 3.14px;
  text-align: center;
  color: #456689;
  display: block;
  width: 100%;
}

.support-line {
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 18px;
  background: #c7d6df;
  background: -webkit-gradient(linear, left top, right top, from(rgba(199, 214, 223, 0)), color-stop(50%, #c7d6df), to(rgba(199, 214, 223, 0)));
  background: linear-gradient(90deg, rgba(199, 214, 223, 0) 0%, #c7d6df 50%, rgba(199, 214, 223, 0) 100%);
}

.form-group label {
  font-family: Circe;
  font-size: 17px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.24;
  letter-spacing: 0.94px;
  text-align: center;
  color: #456689;
  display: block;
  width: 100%;
}

.form-group input,
.form-group textarea {
  border-radius: 27px;
  border: solid 1px #91a9c3;
  background-color: #ffffff;
  width: 100%;
  margin-top: 8px;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Circe;
}

.form-group input {
  min-height: 54px;
}

.form-group textarea {
  min-height: 235px;
  resize: vertical;
  padding-top: 20px;
}

.form-group + .form-group {
  margin-top: 50px;
}

.support-red-line {
  background-color: #d72424;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(100% + 128px);
  margin-left: -64px;
  font-family: ChristmasOnCrack;
  font-size: 37px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.03;
  letter-spacing: 2.04px;
  text-align: center;
  color: #ffffff;
  height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
  position: relative;
}

.support-red-line::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 11px;
  border-color: transparent transparent #9f1313 transparent;
  position: absolute;
  display: block;
  left: 0;
  bottom: 100%;
}

.support-red-line::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 11px 10px 0;
  border-color: transparent transparent #9f1313 transparent;
  position: absolute;
  display: block;
  right: 0;
  bottom: 100%;
}

.support-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-top: 130px;
  padding-bottom: 40px;
}

.support-info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.support-info span {
  font-family: Circe;
  font-size: 23px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1.27px;
  text-align: left;
  color: #456689;
}

.support-info span + span {
  margin-top: 30px;
}

.support-bottom-text {
  display: block;
  width: 100%;
  font-family: Circe;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 0.77px;
  text-align: left;
  color: #999da1;
  margin-top: 54px;
}

.login-extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
  font-family: Circe;
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.24;
  letter-spacing: 0.94px;
  color: #7e858c;
}

.login-extra a {
  color: #7e858c;
  text-decoration: none;
}

.login {
  background: url(../img/bg.jpg) center top no-repeat;
}

footer.login-footer {
  background: url(../img/footer.png) center top no-repeat;
  height: 704px;
}

.login-main {
  padding-bottom: 100px;
}

.faq-question + .faq-question {
  margin-top: 50px;
}

.faq-title {
  font-family: Circe;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: 1.38px;
  text-align: left;
  color: #456689;
  display: block;
  width: 100%;
  margin-bottom: 25px;
}

.faq-text {
  font-family: Circe;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.89;
  letter-spacing: 0.99px;
  text-align: left;
  color: #96a1a9;
  display: block;
  position: relative;
  padding-left: 25px;
}

.faq-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  border-radius: 20px;
  height: 9px;
  width: 9px;
  background-color: #d72424;
}

.faq-text + .faq-text {
  margin-top: 15px;
}

.invest-top-text {
  display: block;
  margin-top: 60px;
  font-family: Circe;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: 0.88px;
  text-align: left;
  color: #092744;
}

.invest-plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-top: 218px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.invest-plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 60.9px 9.1px rgba(130, 130, 130, 0.15);
          box-shadow: 0 0 60.9px 9.1px rgba(130, 130, 130, 0.15);
  background-color: #ffffff;
  border-radius: 20px;
  width: 285px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  opacity: 0.5;
  pointer-events: none;
}

.invest-plan .button {
  width: 160px;
  margin: 51px auto 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.invest-plan.active {
  opacity: 1;
  pointer-events: initial;
}

.invest-plan.active::before {
  content: "";
  width: 145px;
  height: 185px;
  position: absolute;
  top: -167px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url(../img/gnome-main-step.png) center top no-repeat;
  background-size: contain;
}

.plan-perc {
  font-family: ChristmasOnCrack;
  font-size: 77px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.49;
  letter-spacing: 4.24px;
  text-align: center;
  color: #e80000;
  margin: 27px auto 0;
}

.plan-perc span {
  font-size: 47px;
  letter-spacing: 2.59px;
}

.plan-days {
  font-family: ChristmasOnCrack;
  font-size: 37px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.03;
  letter-spacing: 4.26px;
  text-align: center;
  color: #456689;
  margin-top: 12px;
  display: block;
}

.plan-amount {
  display: block;
  font-family: Circe;
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1.76px;
  text-align: left;
  color: #456689;
  position: relative;
  padding-left: 54px;
  margin: 32px 0 0;
}

.plan-amount::before {
  content: "";
  position: absolute;
  left: 26px;
  top: 10px;
  border-radius: 20px;
  height: 9px;
  width: 9px;
  background-color: #d72424;
}

.plan-amount span {
  font-size: 21px;
  letter-spacing: 1.16px;
}

.plan-description {
  font-family: Circe;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.77px;
  text-align: left;
  color: #8ea6b1;
  text-transform: uppercase;
  display: block;
  padding-left: 54px;
  margin-top: 7px;
}

.plan-type {
  display: block;
  font-family: Circe;
  font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1.21px;
  text-align: left;
  color: #456689;
  position: relative;
  padding-left: 54px;
  margin: 32px 0 0;
}

.plan-type::before {
  content: "";
  position: absolute;
  left: 26px;
  top: 10px;
  border-radius: 20px;
  height: 9px;
  width: 9px;
  background-color: #d72424;
}

.invest-progress {
  margin-top: 127px;
}

.invest-progress .main-step-flex {
  margin-top: 20px;
}

.invest-progress .main-step-progress {
  margin-top: 0;
}

.step-progress__info-invest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 300px;
}

.step-progress__info-invest p {
  margin: 0;
  font-family: Circe;
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.06;
  letter-spacing: 0.94px;
  text-align: left;
  color: #91a9c3;
}

.step-progress__info-invest .step-progress__info-amount {
  font-family: ChristmasOnCrack;
  font-size: 57px;
  font-weight: 600;
  letter-spacing: 3.14px;
  line-height: 35px;
  color: #456689;
  margin: 0;
}

.step-progress__info-invest .step-progress__info-amount span {
  font-size: 37px;
  letter-spacing: 2.04px;
}

.step-progress__info-invest .step-progress-red {
  color: #d72424;
}

.invest-white-block {
  padding: 60px 0 80px;
}

.invest-white-block .support-red-line {
  width: calc(100% + 24px);
  margin-left: -12px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 22.5% 22.5% 30% 15% 10%;
      grid-template-columns: 22.5% 22.5% 30% 15% 10%;
  font-family: Circe;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.71;
  letter-spacing: 0.77px;
  text-align: left;
  color: #ffffff;
  padding: 0 56px 0 66px;
  text-transform: uppercase;
  margin-top: 23px;
}

.invest-white-block .invest-stat:nth-child(even) {
  background-color: #d7e3ea;
}

.invest-stat {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 22.5% 22.5% 30% 15% 10%;
      grid-template-columns: 22.5% 22.5% 30% 15% 10%;
  font-family: Circe;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.71;
  letter-spacing: 0.77px;
  text-align: left;
  padding: 0 44px 0 54px;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #456689;
  height: 74px;
}

.invest-stat span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.invest-white-title {
  font-family: ChristmasOnCrack;
  font-size: 37px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.03;
  letter-spacing: 2.04px;
  text-align: left;
  color: #d72424;
  display: block;
  padding-left: 54px;
}

.header-main__title-small {
  font-size: 87px;
  margin-bottom: 0;
  line-height: 60px;
}

.header-main__title-small span {
  color: #df303c;
}

.text-center {
  text-align: center;
}

.account-balance {
  font-family: ChristmasOnCrack;
  font-size: 67px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 3.69px;
  text-align: center;
  color: #ec0000;
  margin: 30px 0 0;
}

.account-balance span {
  font-size: 37px;
  letter-spacing: 2.04px;
}

.account-title {
  font-family: ChristmasOnCrack;
  font-size: 43px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 2.37px;
  text-align: left;
  color: #ec0000;
  margin: 9px 0 0;
}

.account-title.account-title-center {
  text-align: center;
}

.account-wallets__balance {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin-top: 70px;
  margin-bottom: 60px;
}

.account-wallets__balance > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.account-wallets__balance-item {
  -webkit-box-shadow: 0 0 60.9px 9.1px rgba(130, 130, 130, 0.15);
          box-shadow: 0 0 60.9px 9.1px rgba(130, 130, 130, 0.15);
  background-color: #ffffff;
  border-radius: 20px;
  padding: 25px 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  text-align: center;
}

.account-wallets__balance-item img {
  margin-top: 15px;
}

.balance-item__deposit {
  font-family: ChristmasOnCrack;
  font-size: 44px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.86;
  letter-spacing: 2.42px;
  text-align: left;
  color: #456689;
  margin: 0;
  padding-left: 23px;
}

.balance-item__deposit.balance-item__deposit-red {
  color: #ec0000;
}

.balance-item__deposit span {
  font-size: 21px;
  letter-spacing: 1.16px;
}

.balance-item__subtitle {
  font-family: Circe;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.77px;
  text-align: left;
  color: #82909f;
  display: block;
  margin-bottom: 25px;
  padding-left: 23px;
}

.balance-item__line {
  width: 100%;
  height: 1px;
  display: block;
  opacity: 0.2;
  background-color: #456689;
}

.account-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.account-flex.account-flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account-buttons {
  margin-top: 40px;
}

.account-ref-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.account-ref-copy div {
  font-family: Circe;
  font-size: 21px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.81;
  letter-spacing: 1.16px;
  text-align: left;
  color: #6b7682;
  padding: 0 30px;
  width: 100%;
  height: 64px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 50px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 774px;
}

.account-ref-copy div img {
  margin-right: 20px;
  margin-top: -4px;
}

.account-ref-copy .button {
  margin-left: 55px;
  cursor: pointer;
}

body,
html {
  margin: 0;
  padding: 0;
}

template {
  display: none !important;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  min-width: 1100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  background: url(../img/main-bg.jpg) center top no-repeat;
}

.content {
  max-width: 1100px;
  width: 1100px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  padding-top: 35px;
  height: 1250px;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.header-top__info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__info li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header-info__date {
  font-family: Circe;
  font-size: 14px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.71;
  letter-spacing: 0.49px;
  text-align: left;
  color: #ffffff;
}

.header-info__users {
  font-family: "Circe";
  font-size: 14px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.71;
  letter-spacing: 0.49px;
  text-align: left;
  color: #ffffff;
  margin: 0 47px 0 58px;
}

.button {
  font-family: Circe;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.24;
  letter-spacing: 0.94px;
  text-align: left;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d82424), to(#b10e0e));
  background-image: linear-gradient(to top, #d82424, #b10e0e);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 47px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  text-decoration: none;
}

.button:hover {
  -webkit-box-shadow: 0 0 60.9px 9.1px rgba(251, 17, 17, 0.31);
          box-shadow: 0 0 60.9px 9.1px rgba(251, 17, 17, 0.31);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d82424), to(#b10e0e));
  background-image: linear-gradient(to top, #d82424, #b10e0e);
}

.button.button-small {
  width: 170px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.button.button-green {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#6ba924), to(#467819));
  background-image: linear-gradient(to top, #6ba924, #467819);
}

.button.button-green:hover {
  -webkit-box-shadow: 0 0 60.9px 9.1px rgba(94, 161, 32, 0.31);
          box-shadow: 0 0 60.9px 9.1px rgba(94, 161, 32, 0.31);
}

.button + .button {
  margin-left: 40px;
}

nav {
  margin: 35px auto;
  width: 903px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[6];
      grid-template-columns: repeat(6, auto);
  border-radius: 30px;
  background-color: #ffffff;
  position: relative;
  padding: 6px 47px;
  height: 59px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav::after {
  content: "";
  height: 67px;
  position: absolute;
  top: 48px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url(../img/menu-bg.png) center top no-repeat;
  width: 100%;
  max-width: 869px;
  z-index: 1;
}

nav a {
  font-family: Circe;
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.24;
  letter-spacing: 0.94px;
  color: #071e35;
  text-decoration: none;
  text-align: center;
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a + a {
  border-left: 1px solid #e0e3e6;
}

.header-main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 158px;
  width: 100%;
  font-family: ChristmasOnCrack;
  font-size: 147px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 87px;
  letter-spacing: 5.15px;
  text-align: left;
  color: #ffffff;
}

.header-main__subtitle {
  width: 686px;
  height: 77px;
  margin: 8px auto 0;
  background: white;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.123687)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.123687) 50%, rgba(255, 255, 255, 0) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-main__subtitle p {
  font-family: ChristmasOnCrack;
  font-size: 57px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 2px;
  text-align: left;
  color: #ffffff;
}

.header-main__subtitle p span {
  color: #f31c1c;
}

.header-main__subtitle p.header-main__subtitle-small {
  font-size: 48px;
}

.main-step {
  padding-top: 150px;
  height: 1450px;
}

.main-step-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-step-row + .main-step-row {
  margin-top: 100px;
}

.main-step-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 435px;
}

.main-step-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 129px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/snow-main-step.png) center center no-repeat;
}

.main-step-step span {
  font-family: ChristmasOnCrack;
  font-size: 77px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 4.24px;
  color: #456689;
}

.main-step-step img {
  position: absolute;
  left: -22px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main-step-step div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 142px;
  position: relative;
}

.main-step-step div::after {
  content: "";
  position: absolute;
  left: calc(100% + 9px);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 202px;
  height: 1px;
  background: #bfcddc;
  background: -webkit-gradient(linear, left top, right top, from(rgba(191, 205, 220, 0.1)), color-stop(50%, #bfcddc), to(rgba(191, 205, 220, 0.1)));
  background: linear-gradient(90deg, rgba(191, 205, 220, 0.1) 0%, #bfcddc 50%, rgba(191, 205, 220, 0.1) 100%);
}

.main-step-step.main-step-step-right div::after {
  left: auto;
  right: calc(100% + 9px);
}

.main-step-step.main-step-step-right img {
  position: absolute;
  right: -22px;
  left: auto;
}

.main-step-title {
  font-family: ChristmasOnCrack;
  font-size: 57px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 3.14px;
  text-align: left;
  color: #456689;
  margin-top: 28px;
}

.main-step-title.main-step-title-right {
  max-width: 390px;
  margin-left: auto;
  width: 100%;
}

.main-step-text {
  font-family: Circe;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.77px;
  text-align: left;
  color: #092744;
  margin-top: 20px;
  display: block;
}

.main-step-text.main-step-text-right {
  max-width: 390px;
  margin-left: auto;
  width: 100%;
}

.m-center {
  margin-left: auto;
  margin-right: auto;
}

.main-step-gnome {
  position: relative;
  z-index: 3;
}

.main-countdown {
  height: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 19px;
  background-color: #ffffff;
  border-radius: 35px;
  position: relative;
  z-index: 2;
  font-family: ChristmasOnCrack;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 16px;
  text-align: left;
  color: #d82424;
  font-size: 57px;
  letter-spacing: 3.14px;
  margin-top: -38px;
}

.main-countdown p {
  margin: 0;
}

.main-countdown p + p {
  margin-left: 15px;
}

.main-countdown span {
  font-size: 27px;
  letter-spacing: 1.49px;
}

.main-countdown + .main-step-text {
  max-width: 400px;
}

.text-center {
  text-align: center;
}

.main-step-button {
  max-width: 160px;
  margin-top: 40px;
  width: 100%;
  padding: 0;
}

.main-step-list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 45px;
  width: 306px;
  -webkit-box-shadow: 0 0 60.9px 9.1px rgba(130, 130, 130, 0.15);
          box-shadow: 0 0 60.9px 9.1px rgba(130, 130, 130, 0.15);
  background-color: #ffffff;
  border-radius: 15px;
  margin-left: auto;
  position: relative;
  padding: 30px 42px 30px 30px;
}

.main-step-list::before {
  content: "";
  position: absolute;
  top: -45px;
  right: 100%;
  display: block;
  width: 160px;
  height: 209px;
  background: url(../img/deer-main-step.png) left top no-repeat;
}

.main-step__list-title {
  font-family: ChristmasOnCrack;
  font-size: 37px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.03;
  letter-spacing: 2.04px;
  text-align: left;
  color: #d72424;
}

.main-step__list-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
}

.main-step__list-list li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 25px;
  position: relative;
  font-family: Circe;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.66px;
  text-align: left;
  color: #96a1a9;
}

.main-step__list-list li + li {
  margin-top: 30px;
}

.main-step__list-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  border-radius: 20px;
  height: 9px;
  width: 9px;
  background-color: #d72424;
}

.main-depo {
  padding-top: 70px;
  position: relative;
}

.main-depo-stat {
  padding-left: 255px;
}

.main-depo-stat p {
  font-family: ChristmasOnCrack;
  font-size: 44px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 25px;
  letter-spacing: 1.54px;
  text-align: left;
  color: #9dbad7;
  margin: 0;
}

.main-depo-stat span {
  font-family: Circe;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.53px;
  text-align: left;
  color: #91a9c3;
}

.main-depo-title {
  font-family: ChristmasOnCrack;
  font-size: 77px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 4.24px;
  text-align: left;
  color: #456689;
  margin: 300px 0 0;
  max-width: 430px;
  position: relative;
  z-index: 3;
}

.main-depo-title span {
  color: #f31c1c;
}

.main-depo-text {
  max-width: 430px;
  position: relative;
  z-index: 3;
}

.main-depo-plan__expand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  border-radius: 30px;
  width: 184px;
  padding-left: 0;
  padding: 6px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-depo-plan__expand li {
  display: none;
  font-family: Circe;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: 0.72px;
  color: #567da3;
  padding: 0 13px;
}

.main-depo-plan__expand li:first-child {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-depo-plan {
  position: absolute;
  z-index: 2;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 230px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  pointer-events: none;
}

.main-depo-plan span {
  font-family: ChristmasOnCrack;
  font-size: 43px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 2.37px;
  text-align: left;
  color: #9cbdde;
}

.main-depo-plan.active {
  pointer-events: initial;
}

.main-depo-plan.active span {
  color: #456689;
}

.main-depo-plan.active .main-depo-plan__expand li {
  opacity: 0.7;
}

.main-depo-plan.active:hover .main-depo-plan__expand {
  border-radius: 10px;
  width: 100%;
}

.main-depo-plan.active:hover .main-depo-plan__expand li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.main-depo-plan__1 {
  top: 250px;
  left: 160px;
}

.main-depo-plan__2 {
  top: 250px;
  left: 800px;
}

.main-depo-plan__3 {
  top: 670px;
  left: 856px;
}

.main-depo-button {
  max-width: 160px;
  margin-top: 50px;
  width: 100%;
  padding: 0;
}

.main-depo-line {
  width: 100%;
  height: 1px;
  background-color: #ccdef0;
  margin: 120px 0 85px;
  display: block;
}

.main-step-title {
  font-family: ChristmasOnCrack;
  font-size: 47px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.81;
  letter-spacing: 2.59px;
  text-align: left;
  color: #456689;
}

.main-step-progress {
  margin-top: 20px;
  width: 580px;
  height: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  background-color: #dcecfc;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 70px;
}

.main-step-progress__fill {
  display: block;
  height: 40px;
  background-color: #f6fbff;
}

.main-step-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.step-progress-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.step-progress-info p {
  font-family: ChristmasOnCrack;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.03;
  text-align: left;
  color: #456689;
  font-size: 57px;
  letter-spacing: 3.14px;
  margin: 0;
}

.step-progress-info p.step-progress-red {
  color: #f31c1c;
}

.step-progress-info span {
  font-size: 37px;
  letter-spacing: 2.04px;
}

.main-prrogress-text {
  max-width: 396px;
  font-family: Circe;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.77px;
  text-align: left;
  color: rgba(9, 39, 68, 0.47);
  display: block;
  margin-top: 30px;
}

.main-bonus {
  padding-top: 320px;
  height: 1200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-bonus__title-big {
  font-family: ChristmasOnCrack;
  font-size: 77px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.49;
  letter-spacing: 4.24px;
  text-align: center;
  color: #456689;
  display: block;
}

.main-bonus-subtitle {
  font-family: ChristmasOnCrack;
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: 1.76px;
  text-align: center;
  color: #456689;
  max-width: 850px;
  display: block;
  margin: 12px auto 0;
}

.main-bonus-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-top: 90px;
}

.main-bonus__title {
  font-family: ChristmasOnCrack;
  font-size: 47px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 2.59px;
  text-align: left;
  color: #456689;
  display: block;
  margin-top: 46px;
}

.main-bonus__title.main-bonus__title-gray {
  color: #adbdca;
  text-align: center;
  margin-top: 145px;
}

.main-bonus__text {
  max-width: 326px;
  font-family: Circe;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.77px;
  text-align: left;
  color: #092744;
  display: block;
  margin-top: 14px;
}

.main-bonus__text.main-bonus__text-gray {
  color: #9aadbc;
  text-align: center;
}

.main-bonus-perc {
  font-family: ChristmasOnCrack;
  font-size: 157px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 60px;
  letter-spacing: 8.64px;
  text-align: center;
  color: #d72437;
  margin: 50px 0 0;
}

.main-bonus-perc span {
  font-size: 77px;
  letter-spacing: 4.24px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 500px;
}

.footer-paysys ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-left: 0;
  width: 660px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 23px auto 0;
}

.footer-paysys li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer-paysys-payeer {
  margin-top: -7px;
}

.footer-paysys-title {
  font-family: ChristmasOnCrack;
  font-size: 34px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.12;
  letter-spacing: 1.87px;
  text-align: center;
  color: #698da5;
  display: block;
}

.footer-paysys-line {
  height: 1px;
  display: block;
  width: 660px;
  margin: 22px auto 0;
  background: #c7d6df;
  background: -webkit-gradient(linear, left top, right top, from(rgba(199, 214, 223, 0)), color-stop(50%, #c7d6df), to(rgba(199, 214, 223, 0)));
  background: linear-gradient(90deg, rgba(199, 214, 223, 0) 0%, #c7d6df 50%, rgba(199, 214, 223, 0) 100%);
}

.footer-bottom {
  margin-top: auto;
}

.footer-bottom-protection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin: 0;
}

.footer-bottom-protection li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer-bottom-protection li + li {
  margin-left: 25px;
}

.footer-bottom-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  font-family: Circe;
  font-size: 14px;
  font-weight: 500;
  color: #456689;
  font-size: 18px;
  margin: 32px 0 25px;
}

.footer-bottom-copyright a {
  color: #456689;
  text-decoration: none;
}

.footer-bottom-copyright li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer-bottom-copyright li + li {
  margin-left: 25px;
}
/*# sourceMappingURL=index.css.map */