.invest-top-text {
  display: block;
  margin-top: 60px;
  font-family: Circe;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: 0.88px;
  text-align: left;
  color: #092744;
}

.invest-plans {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-top: 218px;
  box-sizing: border-box;
}

.invest-plan {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 60.9px 9.1px rgba(130, 130, 130, 0.15);
  background-color: #ffffff;
  border-radius: 20px;
  width: 285px;
  align-self: stretch;
  box-sizing: border-box;
  position: relative;
  opacity: 0.5;
  pointer-events: none;

  .button {
    width: 160px;
    margin: 51px auto 40px;
    box-sizing: border-box;
    padding: 0;
  }

  &.active {
    opacity: 1;
    pointer-events: initial;

    &::before {
      content: "";
      width: 145px;
      height: 185px;
      position: absolute;
      top: -167px;
      left: 50%;
      transform: translateX(-50%);
      background: url(../img/gnome-main-step.png) center top no-repeat;
      background-size: contain;
    }
  }
}

.plan-perc {
  font-family: ChristmasOnCrack;
  font-size: 77px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.49;
  letter-spacing: 4.24px;
  text-align: center;
  color: #e80000;
  margin: 27px auto 0;

  span {
    font-size: 47px;
    letter-spacing: 2.59px;
  }
}

.plan-days {
  font-family: ChristmasOnCrack;
  font-size: 37px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.03;
  letter-spacing: 4.26px;
  text-align: center;
  color: #456689;
  margin-top: 12px;
  display: block;
}

.plan-amount {
  display: block;
  font-family: Circe;
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1.76px;
  text-align: left;
  color: #456689;
  position: relative;
  padding-left: 54px;
  margin: 32px 0 0;

  &::before {
    content: "";
    position: absolute;
    left: 26px;
    top: 10px;
    border-radius: 20px;
    height: 9px;
    width: 9px;
    background-color: #d72424;
  }

  span {
    font-size: 21px;
    letter-spacing: 1.16px;
  }
}

.plan-description {
  font-family: Circe;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.77px;
  text-align: left;
  color: #8ea6b1;
  text-transform: uppercase;
  display: block;
  padding-left: 54px;
  margin-top: 7px;
}

.plan-type {
  display: block;
  font-family: Circe;
  font-size: 22px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 1.21px;
  text-align: left;
  color: #456689;
  position: relative;
  padding-left: 54px;
  margin: 32px 0 0;

  &::before {
    content: "";
    position: absolute;
    left: 26px;
    top: 10px;
    border-radius: 20px;
    height: 9px;
    width: 9px;
    background-color: #d72424;
  }
}

.invest-progress {
  margin-top: 127px;

  .main-step-flex {
    margin-top: 20px;
  }

  .main-step-progress {
    margin-top: 0;
  }
}

.step-progress__info-invest {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 300px;

  p {
    margin: 0;
    font-family: Circe;
    font-size: 17px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.06;
    letter-spacing: 0.94px;
    text-align: left;
    color: #91a9c3;
  }

  .step-progress__info-amount {
    font-family: ChristmasOnCrack;
    font-size: 57px;
    font-weight: 600;
    letter-spacing: 3.14px;
    line-height: 35px;
    color: #456689;
    margin: 0;

    span {
      font-size: 37px;
      letter-spacing: 2.04px;
    }
  }

  .step-progress-red {
    color: #d72424;
  }
}

.invest-white-block {
  padding: 60px 0 80px;

  .support-red-line {
    width: calc(100% + 24px);
    margin-left: -12px;
    display: grid;
    grid-template-columns: 22.5% 22.5% 30% 15% 10%;
    font-family: Circe;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.71;
    letter-spacing: 0.77px;
    text-align: left;
    color: #ffffff;
    padding: 0 56px 0 66px;
    text-transform: uppercase;
    margin-top: 23px;
  }

  .invest-stat{
    &:nth-child(even){
      background-color: #d7e3ea;
    }
  }
}

.invest-stat {
  width: 100%;
  display: grid;
  grid-template-columns: 22.5% 22.5% 30% 15% 10%;
  font-family: Circe;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.71;
  letter-spacing: 0.77px;
  text-align: left;
  padding: 0 44px 0 54px;
  text-transform: uppercase;
  box-sizing: border-box;
  color: #456689;
  height: 74px;

  span{
    display: flex;
    align-items: center;
  }
}

.invest-white-title{
  font-family: ChristmasOnCrack;
  font-size: 37px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.03;
  letter-spacing: 2.04px;
  text-align: left;
  color: #d72424;
  display: block;
  padding-left: 54px;
}
