.login-extra {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
  font-family: Circe;
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.24;
  letter-spacing: 0.94px;
  color: #7e858c;

  a {
    color: #7e858c;
    text-decoration: none;
  }
}

.login{
  background: url(../img/bg.jpg) center top no-repeat;
}

footer.login-footer{
  background: url(../img/footer.png) center top no-repeat;
  height: 704px;
}

.login-main{
  padding-bottom: 100px;
}