.support-top-title {
  margin-top: 0;
}

header.support-header {
  height: 1150px;
}

.support-white {
  position: relative;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: -78px;
    right: 137px;
    display: block;
    width: 172px;
    height: 96px;
    background: url(../img/faq-snowman.png) center center no-repeat;
    z-index: 2;
  }
}

.support-white-block {
  width: 996px;
  box-shadow: 0 0 60.9px 9.1px rgba(130, 130, 130, 0.15);
  background-color: #ffffff;
  margin: 128px auto 0;
  padding: 60px 52px 80px;
  box-sizing: border-box;
  position: relative;
  z-index: 3;
  border-radius: 15px;

  form {
    width: 457px;
    margin: 45px auto 0;

    .button {
      border-width: 0;
      border: 0;
      margin: 55px auto 0;
    }
  }
}

.support-title {
  font-family: ChristmasOnCrack;
  font-size: 57px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: 3.14px;
  text-align: center;
  color: #456689;
  display: block;
  width: 100%;
}

.support-line {
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 18px;
  background: rgb(199, 214, 223);
  background: linear-gradient(
    90deg,
    rgba(199, 214, 223, 0) 0%,
    rgba(199, 214, 223, 1) 50%,
    rgba(199, 214, 223, 0) 100%
  );
}

.form-group {
  label {
    font-family: Circe;
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.24;
    letter-spacing: 0.94px;
    text-align: center;
    color: #456689;
    display: block;
    width: 100%;
  }

  input,
  textarea {
    border-radius: 27px;
    border: solid 1px #91a9c3;
    background-color: #ffffff;
    width: 100%;
    margin-top: 8px;
    padding: 0 30px;
    box-sizing: border-box;
    font-family: Circe;
  }

  input {
    min-height: 54px;
  }

  textarea {
    min-height: 235px;
    resize: vertical;
    padding-top: 20px;
  }

  & + .form-group {
    margin-top: 50px;
  }
}

.support-red-line {
  background-color: #d72424;
  box-sizing: border-box;
  width: calc(100% + 128px);
  margin-left: -64px;
  font-family: ChristmasOnCrack;
  font-size: 37px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.03;
  letter-spacing: 2.04px;
  text-align: center;
  color: #ffffff;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  position: relative;

  &::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 10px 11px;
    border-color: transparent transparent #9f1313 transparent;
    position: absolute;
    display: block;
    left: 0;
    bottom: 100%;
  }

  &::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 11px 10px 0;
    border-color: transparent transparent #9f1313 transparent;
    position: absolute;
    display: block;
    right: 0;
    bottom: 100%;
  }
}

.support-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 130px;
  padding-bottom: 40px;

  div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  span {
    font-family: Circe;
    font-size: 23px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 1.27px;
    text-align: left;
    color: #456689;
    & + span {
      margin-top: 30px;
    }
  }
}

.support-bottom-text {
  display: block;
  width: 100%;
  font-family: Circe;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 0.77px;
  text-align: left;
  color: #999da1;
  margin-top: 54px;
}
